<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
 
       <div id="user_buttons">

      <%if (user_has_privileges @user.id ) && (current_user.id == @user.id) %>
        <p><%if limitcheck? 'galleries' %>
          <%= link_to 'Create New Gallery', new_gallery_path , class: "btn btn-small btn-secondary"%>
       <%else%>
        You have reached the maximum number of Galleries
       <%end%></p>

        <p><%if limitcheck? 'assets' %>
          <%=link_to 'Upload  images', new_user_asset_path(@user) , class: "btn btn-small btn-secondary"%>  
       <%else%>
        You have reached the maximum number of Assets
        <% end %>

       </p>
       <% end %>

       <%if @user.assets.count > 0 %>
        <p><%= link_to 'View My Images', user_assets_path(@user) , class: "btn btn-small btn-secondary"%></p>   
       <%else%>
        <p>I have no images</p>
        <% end %>

       </div>       

    </section>
  </aside>
  
  <div class="span8">
    <% if @user.galleries.any? %>      
      <h3>My Galleries (<%= @user.galleries.count %>)</h3>
      
      <ol class="galleries">
        <%= render @galleries %>
      </ol>

      <%= will_paginate @galleries %>
    <% else %>
        Sorry! Nothing to display.    
        <%if user_has_privileges @user.id %>
       <%= link_to 'Create a new Gallery', new_gallery_path  %>.
      <% end %>
    <% end %>
  </div>

</div>