<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

      <%if user_has_privileges @user.id %>
       <div id="user_buttons">
        <p><%if limitcheck? 'galleries' %>
          <%= link_to 'Create New Gallery', new_gallery_path , class: "btn btn-small btn-secondary"%>
       <%else%>
        You have reached the maximum number of Galleries
       <%end%></p>

       <p><%= link_to 'View My Images', assets_path , class: "btn btn-small btn-secondary"%>   
       I have <%= @user.assets.any? %> images

        <p><%if limitcheck? 'assets' %>
       <%=link_to 'Upload  images', new_asset_path , class: "btn btn-small btn-secondary"%>  
       <%else%>
       You have reached the maximum number of Assets
        <% end %>

       </p>
       </div>
       
       <% end %>
    </section>
  </aside>
  
  <div class="span8">
    <% if @user.galleries.any? %>      
      <h3>My Galleries (<%= @user.galleries.count %>)</h3>
      
      <ol class="galleries">
        <%= render @galleries %>
      </ol>

      <%= will_paginate @galleries %>
    <% else %>
        Sorry! Nothing to display.    
        <%if user_has_privileges @user.id %>
       <%= link_to 'Create a new Gallery', new_gallery_path  %>.
      <% end %>
    <% end %>
  </div>

</div>