<li id="asset_<%= asset.id %>">
  <span class="content"><%= link_to asset.name, user_asset_path(asset.user, asset)%> <br />
   		<span class="timestamp">
	    Uploaded on <%= time_ago_in_words(asset.created_at) %> ago by 
	    	<span class="username"><%= link_to asset.user.name, user_path(asset.user_id) %>
	    	</span>
		</span>
	</span>


	<%if user_has_privileges asset.user_id %>
	<span>    
	    <%= link_to 'Destroy', user_asset_path(asset.user, asset), remote:true, method: :delete,  data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-secondary" %>
  		<%= link_to 'Edit', edit_user_asset_path(asset.user, asset) , class: "btn btn-small btn-secondary"%> 
	</span>
<% end %>  
  
</li>