<%= form_for [current_user, @asset], :html => { :multipart => true , id: "assetform" }  do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
     <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :caption %>
      <%= f.text_field :caption %>
   </div>

   <div class="galleryimage">
      <p><%= f.label :image %></p>

          <%= check_box_tag 'eula', 'accepted', true, disabled: true%>    

      <% if @asset.image? %>
        <div id="tabs">
          <ul>
      <li><a href="#tabs-1">Current</a></li>
      <li><a href="#tabs-2">Replace?</a></li>
      </ul>

       <div id="tabs-1">
          <div class="field url"> <%= URI(@asset.image.url).path %> </div>
          <div class="avatar"> <%= image_tag @asset.image(:medium) %>   </div>
        </div>
    
        <div id="tabs-2">
          <p> Replace your image with: </p>
          <%= f.file_field :image %>    
        </div>

    
      <% else %>
        <div id="new_image">
          <%= f.file_field :image %>    
        </div>
      <% end %>

  </div>
 

  <div class="actions">
  <br />
    <%= f.submit class: "btn btn-small btn-primary" , id: "assetsubmit" %> <%=link_to 'Cancel', assets_path , class: "btn btn-small btn-secondary"%> 
  </div>
<% end %>
