 

<% if (current_user && (current_user.id == @asset.user_id)) || (current_user && current_user.admin?)  %>
<%= link_to 'Edit', edit_asset_path(@asset) %> |
<% end %>
<%= link_to 'Back', assets_path %>

 <div class="field">
      <%= @asset.name %>
  </div> 
  <div class="field">
      <%= @asset.caption %>
   </div>

<% if @asset.image? %>    
  <div class="avatar">
    <%= image_tag @asset.image(:thumb) %>
  </div>
 <div class="avatar">
    <%= image_tag @asset.image(:medium) %>
  </div>
    <div class="avatar">
    <%= image_tag @asset.image(:large) %>
  </div>

  <div class="avatar">
    <%= image_tag @asset.image.url %>
  </div>
<% if (current_user && (current_user.id == @asset.user_id)) || (current_user && current_user.admin?)  %>
      <%= link_to 'Destroy', @asset, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-secondary" %>
<% end %>

    <p>In Slideshows:</p>
    <ul>
      <% for gallery in Gallery.find(:all) %>
        <% if @asset.galleries.include?(gallery) %>
          <li>
            <%= link_to gallery.title, gallery_path(gallery) %> 
          </li>
          <% end %>
      <% end %>
    </ul>
<% else %>
<p>Sad Face</p>
<% end %>
