<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>

 <div class="field">
      <%= @asset.name %>
    </div>
        <div class="field">
      <%=   @asset.image.url %>
   </div>
 
        <div class="field">
      <%= @asset.caption %>
   </div>
<% if @asset.image? %>
  <div class="avatar">
    <%= image_tag @asset.image(:thumb) %>
  </div>
 <div class="avatar">
    <%= image_tag @asset.image(:medium) %>
  </div>
    <div class="avatar">
    <%= image_tag @asset.image(:large) %>
  </div>

  <div class="avatar">
    <%= image_tag @asset.image.url %>
  </div>


<% else %>
Sad Face
<% end %>
