
  <%= f.label :title %>
  <%= f.text_field :title %> 

  <p>Private  <%= f.check_box(:private) %> </p>

	<% if Rails.env.development? %> 

		<% if !usedsortedassets.any? %>
			<%= debug_layout('Nothing in usedsortedassets!') %>
		<%
		end
		
		s = "Order ids #{@gallery.asset_order} <br/>"

		usedsortedassets.each do |something|
			s = s + "#{something.id},"
		end %>

		<%= debug_layout(s) %>
	<% end %>
		
<div id="header">
	<div id="headerleft">
		<p>Has Assets</p>
	</div>
	<div id="headerright">
		<p>To Add Assets</p>
	</div>
</div>


<div id="sortarea">
	<div id="sortdiv1">
		<ul id="sortable" class="connectedSortable" gid="<%=@gallery.id %>">
			<% for asset in usedsortedassets %>
	              <% if @gallery.assets.include?(asset) %>
					<li class="ui-state-default" id="asset_<%=asset.id %>"><div class="handle"></div><div class="containerthumb"><%= image_tag asset.image(:thumb), :title=> asset.caption  %></div><div class="containertext"><%= asset.name %> / <%=asset.id %></div><div class="containercheck"><%= check_box_tag "gallery[asset_ids][]", 
						asset.id, 
						@gallery.assets.include?(asset) %></div></li>
	              <% end %>
			<% end %>	
		</ul>
	</div>

	<div id="sortdiv2">
		<ul id="sortable-toadd" class="connectedSortable" gid="<%=@gallery.id %>">
			<% for asset in allassets %>
				<% unless @gallery.assets.include?(asset) %>
					<li class="ui-state-default" id="asset_<%=asset.id %>"><div class="handle"></div><div class="containerthumb"><%= image_tag asset.image(:thumb), :title=> asset.caption  %></div><div class="containertext"><%= asset.name %> // <%=asset.id %></div><div class="containercheck"><%= check_box_tag "gallery[asset_ids][]", 
					asset.id, 
					@gallery.assets.include?(asset) %></div></li>
					<% end %>	
			<% end %>	
		</ul>
	</div>
</div>
 