
      <%= f.label :title %>
      <%= f.text_field :title %> 

      <%= check_box_tag :private , @gallery.private? %>
      <%= "Private?" %>

      <%= f.label :asset_order %>
      <%= f.text_field :asset_order %>
 
      <p>Has Assets:</p>
		<% for asset in Asset.all() %>
			<div>
			  <%= check_box_tag "gallery[asset_ids][]", 
			  asset.id, 
			  @gallery.assets.include?(asset) %>
			  <%= asset.name %>
			</div>

		<% end %>

 