<% provide(:title, @gallery.title) %>
<div class="row galleryviewer" >
	<aside class="span4">asdasdad</aside>
	<section>
	<div class="subtitle">Gallery Viewer</div>
      <h1><%= @gallery.title %></h1>
      <% if (current_user && (current_user.id == @gallery.user_id))|| (current_user && current_user.admin?)  %>
        <span class="subtitle">
        <%= link_to 'Edit', edit_gallery_path(@gallery)  %> 
        </span>
    <% end %>
       <div>
      Friendly Name:  <%= gallery_path(@gallery) %>
      </div>
      
      <div>
        </div>
       <div>
      Private? <%= @gallery.private %>
      </div>
       <div>
     Order: <%= @gallery.asset_order %>
      </div>
      
      <p>Has Assets:</p>
      <ul>
        <% for asset in Asset.find(:all) %>
          <% if @gallery.assets.include?(asset) %>
            <li>
              <%= asset.name %> 
            </li>
          <% end %>
        <% end %>
      </ul>
 
 <p><%=link_to 'Add  images', new_asset_path %></p>
    
    </section>
</div>