<% provide(:title, @gallery.title) %>
<div class="row galleryviewer" >
	<aside class="span4">
    <%if user_has_privileges @gallery.user_id %>
        <p><%if limitcheck? 'assets' %>
        <%=link_to 'Upload images', new_user_asset_path(@gallery.user) , class: "btn btn-small btn-secondary"%>
        <%else%>
        You have reached the maximum number of Assets
        <%end%></p> 

        <span class="subtitle">
        <%=link_to 'Edit', edit_gallery_path(@gallery) , class: "btn btn-small btn-secondary"%>
         
        </span>
    <% end %>

  </aside>
	<section>
  	<div class="subtitle">Gallery Viewer
    </div>

      <h1><%= @gallery.title %></h1>
      
      <% if @gallery.assets.count > 0 %>
        <div>
          <b>Links:</b><br />  
          This page <%= link_to gallery_path(@gallery) %> <br />
          <ul>
          <% for k,v in @view_options %>
           <li>"<%= v %>" version  <%= link_to share_for_gallery_path(k, @gallery.to_param()), share_for_gallery_path(k, @gallery.to_param())  %> </li>
          <% end %>
          </ul>
        </div>
       <%else%>
       No images in this gallery yet.
       <%end%>

       <div>
         <% if @gallery.private == 0 %>
         This gallery is public. 
         <% else %>
         This gallery is private. 
         <% end %>
         
      </div>
      
      <% if @gallery.assets.count > 0 %>
        <div>
          Order: <%= @gallery.asset_order %>
        </div>
      
        <p>This gallery has <%=@gallery.assets.count %> assets.</p>
      <%end%>
      
             
      
      <%= render 'slideshow_customv5' %>      
    
    </section>
</div>

