<% provide(:title, @gallery.title) %>
<div class="row galleryviewer" >
	<aside class="span4">asdasdad</aside>
	<section>
	<div class="subtitle">Gallery Viewer</div>
      <h1><%= @gallery.title %></h1>
      <% if (current_user && (current_user.id == @gallery.user_id))|| (current_user && current_user.admin?)  %>
        <span class="subtitle">
        <%= link_to 'Edit', edit_gallery_path(@gallery)  %> 
        </span>
    <% end %>
       <div>
      Friendly Name:  <%= gallery_path(@gallery) %>
      </div>
      
      <div>
        </div>
       <div>
      Private? <%= @gallery.private %>
      </div>
       <div>
     Order: <%= @gallery.asset_order %>
      </div>
      
      <p>Has Assets:</p>
       <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="sliderArea" class="ramblingSlider">
      
         <% for asset in Asset.find(:all) %>
          <% if @gallery.assets.include?(asset) %>
       

               <%= image_tag asset.image(:medium) %> 
           <% end %>
        <% end %>

        <div id="htmlcaption" class="rambling-html-caption">
                <strong>A This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
            </div>
        <div id="htmlcaption" class="rambling-html-caption">
                <strong>B This</strong>               <caption><%= asset.name %></caption>   <em>HTML</em> caption with <a href="#">a link</a>.
            </div>

            </div>
       </div>
 
 <p><%=link_to 'Add  images', new_asset_path %></p>
    
    </section>
</div>


<!-- <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="sliderArea" class="ramblingSlider">
                <img src="../assets/images/toystory.jpg" alt="">
                <a href="http://ramblinglabs.com"><img src="../assets/images/up.jpg" alt="" title="This is an example of a caption"></a>
                <img src="../assets/images/walle.jpg" alt="">
                <img src="../assets/images/nemo.jpg" alt="" title="#htmlcaption">
            </div>
            <div id="htmlcaption" class="rambling-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
            </div>
        </div>
-->