<% provide(:title, @gallery.title) %>
<div class="row galleryviewer" >
	<aside class="span4">this is an aside</aside>
	<section>
	<div class="subtitle">Gallery Viewer</div>

      <h1><%= @gallery.title %></h1>
      <% if (current_user && (current_user.id == @gallery.user_id))|| (current_user && current_user.admin?)  %>
        <span class="subtitle">
        <%= link_to 'Edit', edit_gallery_path(@gallery)  %> 
        </span>
      <% end %>
      
      <div>
      Friendly Name:  <%= gallery_path(@gallery) %>
      </div>
      
       <div>
        Private? <%= @gallery.private %>
      </div>
       <div>
        Order: <%= @gallery.asset_order %>
      </div>
      
      <p>Has Assets:</p>
       <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="sliderArea" class="ramblingSlider adaptingSlider">   
             <% for asset in Asset.all %>
              <% if @gallery.assets.include?(asset) %>
                   <%= image_tag asset.image(:large), :title=> asset.caption  %> 
               <% end %>
              <% end %>
            </div>      
      <p><%=link_to 'Add  images', new_asset_path %></p>
    </section>
</div>

