<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
                                           
   <%= stylesheet_link_tag "colorbox.css", media: "all",
                                           "data-turbolinks-track" => true %>
    
    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %>
  </head>

<% if (current_user && current_user.admin?)  %>
  <body class="adminmode"> 
<% else %>
  <body> 
<% end %>

  <%= render 'layouts/header' %>
   
    <div class="container-fluid">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

        <%= yield %>

  <%= render 'layouts/footer' %>
  
  <%= debug(params) if Rails.env.development? %>

</div>


<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<%= javascript_include_tag "jquery.colorbox.js", "data-turbolinks-track" => true %>

<script type="text/javascript">
  document.getElementById("demo").innerHTML = $(document).width();;
</script>


  </body>
</html>